<h1>Deployments</h1>

<% if params[:deployed] %>
    <%= content_tag :p, link_to("Show all", :controller => "main", :action => "index") %>
<% else %>
    <%= content_tag :p, link_to("Show only deployed", :controller => "main", :action => "index", :deployed => "deployed") %>
<% end %>

<table>
    <tr>
        <th><%= Deployment.human_attribute_name(:id) %></th>
        <th>Deployed?</th>
        <th><%= Deployment.human_attribute_name(:commit) %></th>
        <th><%= Deployment.human_attribute_name(:branch) %></th>
        <th><%= Deployment.human_attribute_name(:event_type) %></th>
        <th><%= Deployment.human_attribute_name(:source) %></th>
        <th><%= Deployment.human_attribute_name(:created_at) %></th>
        <th><%= Deployment.human_attribute_name(:log) %></th>
    </tr>

    <% @deployments.each do |deployment| %>
        <tr>
            <td><%= deployment.id %></td>
            <td style="<%= 'color: green' if deployment.success %>"><%=h deployment.success ? "✔" : "✗" %></td>
            <td title="<%= deployment.commit %>"><%= truncate(deployment.commit, length: 8, omission: '') %></td>
            <td><%= deployment.branch || '---' %></td>
            <td><%= deployment.event_type || '---' %></td>
            <td><%= deployment.source || '---' %></td>
            <td title="<%= deployment.created_at %>"><%= "#{time_ago_in_words(deployment.created_at)} ago" %></td>
            <td>
                <% if deployment.log %>
                    <details>
                        <summary>Detailed log</summary>
                        <p><%= collapse_repetition(deployment.log) %></p>
                    </details>
                <% else %>
                    ---
                <% end %>
            </td>
        </tr>
    <% end %>
</table>
